@import url('https://fonts.googleapis.com/css2?family=DotGothic16&display=swap');



:root{
    --blue: rgb(44, 25, 215);
    --black: rgba(25, 25, 26, 0.438);
    --ligth-color: rgb(25, 98, 215);
    --border:.1rem solid rgb(0,0,0,.2);
    --box-shadow:0 .5rem 1rem rgba(0,0,0,.1);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    font-family:"DotGothic16";
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

.header{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    background: #fff;
    box-shadow: var(--box-shadow);
    display: flex;
    align-items: center;
    padding: 1.2rem 7%;
}

.header .logo{
    color: var(--black);
    font-size: 2.5rem;
    margin-right: auto;
}

.header .logo span{
    color: var(--blue)
}

